{% extends 'baseAdmin.html.twig' %}

{% block title %}Picture index
{% endblock %}

{% block body %}
	<h1>Picture index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Url</th>
				<th>Create_at</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for picture in pictures %}
				<tr>
					<td>{{ picture.id }}</td>
					<td>{{ picture.url }}</td>
					<td>{{ picture.createAt ? picture.createAt|date('Y-m-d') : '' }}</td>
					<td>
						<a href=""></a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
