{% extends 'baseAdmin.html.twig' %}

{% block title %}Modération des images
{% endblock %}

{% block body %}
	<h1>
	Les images</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Url</th>
				<th>Create_at</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for picture in pictures %}
				<tr>
					<td>{{ picture.id }}</td>
					<td><img src="/uploads/{{ picture.url }}" class="img-thumbnail" alt="..."></td>
					<td>{{ picture.createAt ? picture.createAt|date('Y-m-d') : '' }}</td>
					<td>
						<a href="{{ path('picture_delete', {'id': picture.id}) }}">Supprimer</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
