{% extends 'base.html.twig' %}

{% block title %}Modification d'une publication
{% endblock %}

{% block body %}
	<div class="container">
		<a href="{{ path('profile') }}">
			<i class="bi bi-arrow-left-short" style="font-size: 2rem"></i>
		</a>
		<h1>Editer la publication</h1>
		{{ include('figurine/_form.html.twig', {'button_label': 'Modifier'}) }}
		{{ include('figurine/_delete_form.html.twig', {'button_label': 'Suppression'}) }}
	</div>


{% endblock %}
