{% extends 'base.html.twig' %}

{% block title %}Modification d'une publication{% endblock %}

{% block body %}
    <h1>Editer la publication</h1>

    {{ include('figurine/_form.html.twig', {'button_label': 'Modifier'}) }}
    {{ include('figurine/_delete_form.html.twig', {'button_label': 'Suppression'}) }}
    <a href="{{ path('figurine_index') }}">Retour</a>

    
{% endblock %}
