{% extends 'base.html.twig' %}

{% block title %}New Figurine
{% endblock %}

{% block body %}
	<h1>Publication d'une figurine</h1>

	{{ include('figurine/_form.html.twig') }}

	<a href="{{ path('figurine_index') }}">Retour</a>
{% endblock %}
