{% extends 'base.html.twig' %}

{% block title %}Publication d'une figurine
{% endblock %}

{% block body %}
	<div class="container">
		<a href="{{ path('figurine_index') }}">
			<i class="bi bi-arrow-left-short" style="font-size: 2rem"></i>
		</a>
		<h1>Publication d'une figurine</h1>


		{{ include('figurine/_form.html.twig') }}


	</div>
{% endblock %}
