{% extends 'home.html.twig' %}

{% block title %}Layer and Shade
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div>
			<h1>Layer and Shade</h1>
			<p>Le musée des miniatures</p>
		</div>
		<div>
			<h2>Le concept</h2>
			<p>Découvrer l'art sous sa forme miniature !
											Le modélisme , où l'art du miniature , est une passion où la patience est de rigueur . 
											Peindre des détails sur des modèles de moins de 10cm releve du talent , et j'ai voulu créer cette application pour rendre hommage aux nombreux talents qui partage cette passion
											Que vous soyez initié ou wargamer comme moi , vous serez emerveillé par les figurines que vous allez découvrir
											Rejoignez-nous !</p>
		</div>
		<h2>Peintre Pro</h2>
		<p>Peintre professionnel , vous souhaitez un espace de visibilité sur vos créations et pouvoir échanger en direct avec des futurs acheteurs
								Rejoignez Layer and Shade ! 
								Vous pourrez avoir un espace personnalisé , une messagerie dédié , une page qui vous rendra visible ainsi que la possibilité d'échanger devis et facture avec vos clients
								Rejoignez-nous !</p>
		<footer>
			<h4>Copyright @2021 , application créée par Christophe Benetto</h4>
			<a href="">Mentions Legales</a>
			<a href="">Me contacter</a>
		</div>
	{% endblock %}
