{% extends 'base.html.twig' %}

{% block title %}Layer and Shade
{% endblock %}

{% block body %}
	<div>
		<h1>Bienvenue
		{% if app.user %}
			{{ app.user.username }}
			!
		{% else %}
			Invité

		{% endif %}
		</h1>
		<h2>Les nouveautés</h2>
				{% for figurine in figurinesByDate %}
				<p> {{ figurine.name }} </p>
				{% endfor %}
		<h2>Les mieux notées</h2>
				{% for figurine in figurinesByUpvote %}
				<p> {{ figurine.name }} </p>
				{% endfor %}
		<h2>Les plus commentées</h2>
				{% for figurine in figurinesMoreComments %}
				<p> {{ figurine.name }} </p>
				{% endfor %}

	</div>
{% endblock %}
