{% extends 'base.html.twig' %}

{% block title %}Layer and Shade
{% endblock %}

{% block body %}
	<div>
		<h1>Bienvenue
		{% if app.user %}
			{{ app.user.username }}
			!
		{% else %}
			Invité

		{% endif %}
		</h1>
		
		<h2>Les nouveautés</h2>
		<div class=" d-flex justify-content-around mt-3 container-fluid">
				{% for figurine in figurinesByDate %}
					<div class="card col-3 p-0 me-3 mb-3" style="width: 18rem;">
					{% for picture in figurine.pictures|slice(0, 1) %}
						<img src="/uploads/{{ picture.url }}" class="card-img-top img-fluid" alt="...">
					{% endfor %}
					</div>			
				{% endfor %}
		</div>
		<h2>Les mieux notées</h2>
		<div class=" d-flex justify-content-around mt-3 container-fluid">
				{% for figurine in figurinesByUpvote %}
					<div class="card col-3 p-0 me-3 mb-3" style="width: 18rem;">
					{% for picture in figurine.pictures|slice(0, 1) %}
						<img src="/uploads/{{ picture.url }}" class="card-img-top img-fluid" alt="...">
					{% endfor %}
					</div>			
				{% endfor %}
		</div>
		<h2>Les plus commentées</h2>
		<div class=" d-flex justify-content-around mt-3 container-fluid">
				{% for figurine in figurinesMoreComments %}
					<div class="card col-3 p-0 me-3 mb-3" style="width: 18rem;">
					{% for picture in figurine.pictures|slice(0, 1) %}
						<img src="/uploads/{{ picture.url }}" class="card-img-top img-fluid" alt="...">
					{% endfor %}
					</div>			
				{% endfor %}
		</div>
	</div>
{% endblock %}
