{% extends 'base.html.twig' %}
{% block title %}Mon profil
{% endblock %}

{% block body %}
	<h1>Pseudo :
		{{ app.user.username }}</h1>
	<h2>Email :
		{{ app.user.email }}</h2>
	<h4>Avatar :
		{{ app.user.avatar }}</h4>
	<h5>Mes figurines</h5>
{% endblock %}
